WINHIDER ICON winhider.ico
NA BITMAP na.bmp
DDABOUT DIALOG LOADONCALL DISCARDABLE 36, 44, 160, 105
STYLE DS_MODALFRAME | 0x6004L | WS_POPUP | WS_CAPTION
CAPTION "About..."
FONT 8, "Helv"
{
 CONTROL "Programname - 'Winhider'", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 5, 150, 16
 CONTROL "Version 1.01 from 26.01.2005", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 15, 150, 16
 CONTROL "License type - freeware", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 25, 150, 16
 CONTROL "Autor - tradakad (c) 2005", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 35, 150, 16
 CONTROL "e-mail:tradakad@mail.ru ICQ-327979070", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 45, 150, 16
 CONTROL "If you using this software - please send me e-mail. I like to get letters :)", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 58, 150, 16
 CONTROL "OK", 2, "BUTTON", BS_PUSHBUTTON | BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 60, 80, 50, 15
}
DDHELP DIALOG LOADONCALL DISCARDABLE 25, 25, 160, 150
STYLE DS_MODALFRAME | 0x6004L | WS_POPUP | WS_CAPTION
CAPTION "Help..."
FONT 8, "Helv"
{
 CONTROL "Winhider v.1.01 - little help :)", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 5, 150, 16
 CONTROL "This software have some global hotkeys:", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 25, 150, 16
 CONTROL "Ctrl+Win+Alt+F12 - Hide foreground window. This window will be in 'HIDING BY WINHIDER'", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 45, 150, 16
 CONTROL "Ctrl+Win+Alt+F9 - Hide(show) WInhider`s icon on systray.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 68, 150, 16
 CONTROL "Ctrl+Win+Alt+F5 - Track Winhider`s popup menu on current cursor`s position.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 90, 150, 16
 CONTROL "Ctrl+Win+Alt+F4 - Exit from Winhider.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 113, 150, 16
 CONTROL "OK", 2, "BUTTON", BS_PUSHBUTTON | BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 60, 130, 50, 15
}
DDHISTORY DIALOG LOADONCALL DISCARDABLE 25, 25, 160, 150
STYLE DS_MODALFRAME | 0x6004L | WS_POPUP | WS_CAPTION
CAPTION "Version history..."
FONT 8, "Helv"
{
 CONTROL "Winhider v.1.01 - history version", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 5, 150, 16
 CONTROL "Version - Date realise", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 20, 150, 16
 CONTROL "1.00 - 23.01.2005", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 35, 150, 16
 CONTROL "First version :)", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 45, 150, 16
 CONTROL "1.01 - 26.01.2005", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 55, 150, 16
 CONTROL "+ Adding password mask into EditBoxes", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 65, 150, 16
 CONTROL "OK", 2, "BUTTON", BS_PUSHBUTTON | BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 60, 130, 50, 15
}

